  
  body, html {
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F5E9E2;
  }
  
  .login-form {
    background-color: #ffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 450px;
    text-align: center;
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .login-form input {
    width: 100%;
    align-items: center;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #000000;
    border-radius: 5px;
  }
  
  .login-form button {
    width: 100%;
    align-items: center;
    padding: 0.8rem;
    background-color: #0E2528;
    color: #F5E9E2;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #4D676A;
  }
  
  .avatar {
    display: flex;
    width: 80px;
    height: 80px;
    margin: 20px auto;
  }
  
  .titleLogin {
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .juvoTitle {
    display: flex;
    align-items: center;
    color: #1B0E14;
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .theLogo {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 1px;
  }

  .signUpLink {
    background: none;
    border: none;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: none;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .signUpLink:hover {
    color: #4D676A;
  }
  
  