.own-post-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 20px;
  }

  .update-btn {
    padding: 10px 20px;
    background-color: #0E2528; 
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .update-btn:hover {
    background-color: #4D676A;
  }

  .delete-btn {
    padding: 10px 20px;
    background-color: #A52A2A;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .delete-btn:hover {
    background-color: #d36363;
  }

  .complete-btn {
    width: 325px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #6a8d92;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .complete-btn:hover {
    background-color: #4D676A;
  }